.drag-and-drop {
    cursor: move;　　/* 移動カーソル */
    position: absolute;
    z-index: 1000;
}


.drag {
    z-index: 1001;
}

.box {
	width:200px;
	height:200px;
}

.red {
	background-color:red;
}

.blue {
	background-color:blue;
}

.yellow {
	background-color:yellow;
}